[Unit]
Description=Netbird Caddy Proxy

[Container]
ContainerName=caddy
Image=docker.io/library/caddy:latest
Network=netbird.network
PublishPort=80:80
PublishPort=443:443
Volume=netbird_caddy_data.volume:/data:Z
Volume=/home/netbird/netbird_data/Caddyfile:/etc/caddy/Caddyfile:Z
LogDriver=journald
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
