[Unit]
Description=Netbird Dashboard

[Container]
ContainerName=dashboard
Image=docker.io/netbirdio/dashboard:latest
Network=netbird.network
EnvironmentFile=/home/netbird/netbird_data/dashboard.env
LogDriver=journald
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
